.container {
	width: 70%;
	margin: 0 auto;
}
.tasks {
	width: 20%;
	height: 200px;
	margin: 10px;
	position: relative;
	display: inline-block;
	background-color: white;
	border-radius: 5%;
	padding: 10px;
}
body {
	margin: 0;
	padding: 0;
	background-color: gainsboro;
}
.button {
	position: absolute;
	left: 10px;
	bottom: 10px;
}
.check {
	display: block;
}