<!DOCTYPE html>
<html ng-app="tl">
<head>
	<title>lol</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<script src="../bower_components/angular/angular.js"></script>
	<script src="controllers/index.js"></script>
</head>
<body ng-controller="tlCtrl as lol">
	<div class="container">
		<div ng-switch on="lol.type">
			<div ng-switch-when="button">
				<input type="button" ng-click="lol.change()" value="Добавить">
			</div>
			<div ng-switch-when="input">
				<input type="text" ng-model="lol.taskName">
				<input type="button" ng-click="lol.add()" value="Добавить">
			</div>
		</div>
<!-- 		{{lol.tasks.length}} -->
		<input type="button" value="Switch view" ng-click="lol.switch()">
		<div ng-switch on="lol.typeView">
			<div ng-switch-when="block">
				<div ng-repeat = "item in lol.tasks" class="tasks">
					{{$index+1}} : {{item.name}}
					<input type="checkbox" name="done" ng-model="item.done" ng-click="lol.done($index)" id="check" class="check">
					<label for="ckeck">Выполнено</label>
					<input type="button" value="Удалить" ng-click="lol.del($index)" class="button">
				</div>
			</div>
			<div ng-switch-when="list">
				<ul>
					<li ng-repeat="item in lol.tasks">
						{{$index+1}} : {{item.name}}
						<input type="checkbox" ng-model="item.done" id="done">
						<label for="done">Выполнено</label>
						<input type="button" value="Удалить" ng-click="lol.del($index)">
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>